/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.row {
  width: 100%;
}

h1 {
  color: #FC4349;
  text-align: center;
  font-size: 1.75em;
}

.title_pos{
	border: 1px solid #2F333D;;
	position: absolute;
	right: 0px;
	width: 41.66%;
  	
  	padding-top: .3em;
  	padding-bottom: .3em;
  	margin-top: -1px;
  	margin-right: -1px;

	text-align: center;
	font-style: italic;
  	font-weight: bold;
  	font-size: 1.25em;

}
.contentbox{
	position: relative;
	margin: 5px;
	border: 1px solid #2F333D;
    background-color: #F3F1F3;
}
.sectiontext{
	position: relative;
	/*top: 1.5em;*/
	padding: 1.8em .8em .8em .8em;
}

#fightclub {
	background-color: #41BCD9;	
	color: #F3F1F3;
}
#dkm {
	background-color: #2F333D;	
	color: #F36A12;
	border: 1px solid #F36A12;
}
#zztop {
	background-color: #F36A12;	
	font-color: #F3F1F3;
}


/********** desktop view **********/
@media (min-width: 992px) {
  .col-desktop {
  	float: left;
    width: 33.33%;
  }
}

/******** tablet view ***********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tablet-6, .col-tablet-12 {
  	float: left;
  }
  .col-tablet-6{
    width: 50%;
  }
  .col-tablet-12{
    width: 100%;
  }
}

/********* mobile view ***********/
@media (max-width: 767px) {
  .col-mobile {
  	float: left;
    width: 100%;
  }
}